@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    overflow-x:hidden;
    font-size: 20px;
    width:100% ;
}
.form-group{
    margin: 10px;
}
.modals{
    position: absolute;
    z-index: 10;
    left: 20%;
    top: 1rem;
    display: none;
    font-size: 17px;
    width: 60%;
    background-color: antiquewhite;
}